* {
  margin: 0;
  padding: 0;
}
#grid {
  display: flex;
  padding: 0;
  background-color: red;
  flex-wrap: wrap;
}
.box {
  display: inline-block;
  background-color: coral;
}
.hovered {
  background-color: yellow;
}
